<a href="https://colab.research.google.com/github/Kerei1988/-/blob/main/myspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тема дипломной:
# № 5. Анализ и сравнение различных способов обработки и хранения больших данных:
# Pandas, Dask и Apache Spark

In [ ]:

!pip install pyspark
!pip install pandas

In [89]:
from pyspark.sql import SparkSession, DataFrame, Row
import matplotlib.pyplot as plt
from pyspark.sql.functions import *
from collections import defaultdict
from pyspark.sql.types import FloatType, DecimalType, IntegerType



# Открываем сессию Spark, для чтения базы данных с файла, для дальнейшей обратботки и анализа
spark = SparkSession.builder.getOrCreate()

# Читаем файл csv
sdf = spark.read.option('multiline', True).csv('Data-Science-Jobs.csv', header=True)

# Визуальный осмотр данных (первые 5 строк)
sdf.show(5, truncate=100)

# Информация о базе данных: база данных сотсовляет из 500 строк,
# столбцы  ' Salary', '  Logo ', ' Company Rating' включают пропущенные значени
# Столбцы 'Salary' и 'Company Rating',  'Date' - тип данных String,
sdf.printSchema()
sdf.describe().show()

# Около 13% строк, содержащие не заполненные поля,  удаляем. Для анализа данных останется 387 строк
df = sdf.dropna()
df_count = df.count()
print(df_count)
df.describe().show()

+--------+-------------------------------------------------+-------------------------+--------------+------------------------------+----+----------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+--------------+
|Position|                                        Job Title|             Company Name|      Location|                        Salary|Date|                                                                                    Logo|                                                                                            Job Link|Company Rating|
+--------+-------------------------------------------------+-------------------------+--------------+------------------------------+----+----------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+--------------+
|       1|                  Associate Stop Loss Underwriter|The Insurance Center\n2.7|  Onalaska, WI|  $57K - $84K (Glassdoor est.)|30d+|https://media.glassdoor.com/sql/453835/the-insurance-center-squarelogo-1492120667693.png|https://www.glassdoor.com/partner/jobListing.htm?pos=101&ao=1110586&s=58&guid=00000190257c3508a9f...|           2.7|
|       2|                          Manager of Data Science|      Nuvative, Inc.\n3.4|   Wichita, KS|$106K - $157K (Glassdoor est.)|30d+|    https://media.glassdoor.com/sql/1384674/net-pay-advance-squarelogo-1505283647927.png|https://www.glassdoor.com/partner/jobListing.htm?pos=102&ao=1110586&s=58&guid=00000190257c3508a9f...|           3.4|
|       3|                      Senior Data Product Manager|       ProviderTrust\n4.2| Nashville, TN|$105K - $141K (Glassdoor est.)| 11d|              https://media.glassdoor.com/sql/1953857/hibob-squareLogo-1709829933063.png|https://www.glassdoor.com/partner/jobListing.htm?pos=103&ao=1110586&s=58&guid=00000190257c3508a9f...|           4.2|
|       4|                         Oncology Nurse Navigator|       Inizio Engage\n3.6|  Portland, OR|  $90K - $113K (Employer est.)|  1d|             https://media.glassdoor.com/sql/8794153/inizio-squarelogo-1686067168894.png|https://www.glassdoor.com/partner/jobListing.htm?pos=104&ao=1110586&s=58&guid=00000190257c3508a9f...|           3.6|
|       5|Head of Artificial Intelligence – Americas Region|            Covestro\n3.6|Pittsburgh, PA| $89K - $148K (Glassdoor est.)|30d+|             https://media.glassdoor.com/sql/27128/covestro-squarelogo-1453844629357.png|https://www.glassdoor.com/partner/jobListing.htm?pos=105&ao=1110586&s=58&guid=00000190257c3508a9f...|           3.6|
+--------+-------------------------------------------------+-------------------------+--------------+------------------------------+----+----------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+--------------+
only showing top 5 rows

root
 |-- Position: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Company Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Logo: string (nullable = true)
 |-- Job Link: string (nullable = true)
 |-- Company Rating: string (nullable = true)

+-------+-----------------+--------------------+----------------+------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|summary|         Position|           Job Title|    Company Name|          Location|              Salary|             Date|                Logo|            Job Link|    Company Rating|
+-------+-----------------+--------------------+----------------+------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|  count|              500|                 500|             500|               500|                 438|              500|                 436|                 500|               439|
|   mean|            250.5|                NULL|            NULL|              NULL|                NULL|9.706521739130435|                NULL|                NULL|3.8123006833712965|
| stddev|144.4818327679989|                NULL|            NULL|              NULL|                NULL|7.529633158001201|                NULL|                NULL|0.4802814441007242|
|    min|                1|$40/hr - $50/hr -...|12100 Collective|        Albany, GA|$100K - $105K (Em...|              10d|https://media.gla...|https://www.glass...|                 1|
|    max|               99|Violence Preventi...|    the NBA\n3.8|Woodcliff Lake, NJ|$99K - $130K (Emp...|               9d|https://media.gla...|https://www.glass...|                 5|
+-------+-----------------+--------------------+----------------+------------------+--------------------+-----------------+--------------------+--------------------+------------------+

387
+-------+------------------+--------------------+------------+------------------+--------------------+------------------+--------------------+--------------------+------------------+
|summary|          Position|           Job Title|Company Name|          Location|              Salary|              Date|                Logo|            Job Link|    Company Rating|
+-------+------------------+--------------------+------------+------------------+--------------------+------------------+--------------------+--------------------+------------------+
|  count|               387|                 387|         387|               387|                 387|               387|                 387|                 387|               387|
|   mean|261.43152454780363|                NULL|        NULL|              NULL|                NULL|10.025380710659899|                NULL|                NULL| 3.811111111111109|
| stddev|139.47931426292297|                NULL|        NULL|              NULL|                NULL|   7.7330700850991|                NULL|                NULL|0.4800211087279493|
|    min|                 1|AI Integration Sp...|    ADP\n3.9|        Albany, GA|$100K - $105K (Em...|               10d|https://media.gla...|https://www.glass...|                 1|
|    max|                97|Vice President, D...|the NBA\n3.8|Woodcliff Lake, NJ|$99K - $130K (Emp...|                9d|https://media.gla...|https://www.glass...|                 5|
+-------+------------------+--------------------+------------+------------------+--------------------+------------------+--------------------+--------------------+------------------+

In [78]:

# TOP 10 популярныx региона США, для найма специалистов в области обработки данных , визуализируем для удобного восприятия.
# график показывает что наибольшее количество вакансий Riverwoods, IL(31), Remote (22), New York, NY (21)
location = df.groupBy('Location').count().orderBy('count', ascending=False)
pandas_location = location.toPandas().set_index('Location').head(10)
pandas_location.plot.bar()

# Найдем города с наибольши и наименьшим спросом на специалистов.
# Количество вакансии меньше 6 - 117 регион
# Количество вакинсий больше 15 - 3 региона
small_location = location.filter(location['count'] <= 5)
print(small_location.count())
most_location = location.filter(location['count'] >= 15)
print(most_location.count())
# количество специальностей - 223
number_specialists = df.select('Job Title').drop_duplicates()
number_specialists.count()

# Самые востребованные специалисты:
# 1 -  Data Scientist
# 2 - Senior Data Scientist
# 3 - Senior Manager Data Scientist, Principal Data Science
most_popular_specialties = df.groupBy('Job Title').count().sort('count', ascending=False).show(truncate=100)

# количество наименее востребованных специалистов, с одной вакансией на рынке труда - 154 вакансий
least_popular_specialties = df.groupBy('Job Title').count().filter('count < 2').count()
print(least_popular_specialties)

117
3
+---------------------------------------------------------------------------------------+-----+
|                                                                              Job Title|count|
+---------------------------------------------------------------------------------------+-----+
|                                                                         Data Scientist|   22|
|                                                                  Senior Data Scientist|   10|
|                                                                 Principal Data Science|    8|
|                                                            Senior Manager Data Science|    8|
|                                                             Field Data Collector (PPC)|    7|
|                                                                     Data Engineer (PO)|    5|
|                                                                           Data Analyst|    5|
|                                                                Engineer, Generative AI|    5|
|                                                            Senior Data Science Analyst|    5|
|                                                          Product Management Leader- AI|    4|
|                              Solution Developer I - Automation & Innovation Management|    4|
|                                                    Senior Machine Learning Engineer II|    4|
|                               Data Scientist - Secureworks - Atlanta, GA or Remote, US|    4|
|                                                                 Principal Data Analyst|    4|
|                                                                   Manager Data Science|    4|
|                                    Medical Science Liaison, Endocrinology/Rare Disease|    4|
|                                                              Data Scientist & Engineer|    4|
|                                Data Scientist (Javascript, .Net Framework, SQL)-Remote|    4|
|Reliability, Availability and Serviceability Expert, Datacenter AI Products Development|    4|
|                                                                    Senior Data Analyst|    3|
+---------------------------------------------------------------------------------------+-----+
only showing top 20 rows

154

In [ ]:
# найдем среднее количество дней актуальности вакансий - 19+
# минимальный срок актуальности - 1
# максимальное количество дней - 30
date_df = df[['Date']]
date_df = date_df.withColumn('Date', regexp_replace('Date', '24h', '1d'))
date_df = date_df.withColumn('Date', regexp_extract('Date', r'\b(\d+).+', 1).astype(IntegerType()))
date_min = date_df.select(min(date_df.Date)).show()
date_max = date_df.agg({'Date': 'max'}).show()
date_mean = date_df.select(mean(date_df.Date)).show()

In [ ]:
# найдем самого активного работодателя на рынке труда из базы данных - 'Discover Financial Services'
# Общее количество работодателей 188
# отобразим на графике 10 самых активных работодателей
company_name = df[['Company Name']].withColumn('Company Name', regexp_replace('Company Name', '(\n\d\.\d)', ''))
number_vacancies_per_company = company_name.groupBy('Company Name').count().sort('count', ascending=False) # Количество вакансий на 1 работодателя
number_vacancies = number_vacancies_per_company.select( sum(number_vacancies_per_company['count'])) # общее количество вакансий
number_companies = company_name.drop_duplicates().count() #количество работодателей
print(number_companies)

In [ ]:
# десятка самых активных работодателей базы данных
part = number_vacancies_per_company.withColumn('count', (number_vacancies_per_company['count']/number_companies)*100)
part_pandas = part.toPandas().set_index('Company Name').head(10)
part_pandas.plot.barh()
plt.show()

In [ ]:
# Для анализа рынка труда, нужно столбец "Salary", преобразовать в числовой тип

salary = df[['Job Title', 'Salary']].withColumn('Salary', translate('Salary', '$|K', '').alias('Salary'))
salary_per = salary.filter(salary.Salary.like('%Per%'))
salary_month = salary.join(salary_per[['Job Title', 'Salary']], 'Salary', how='left_anti')

salary_per =  salary_per.withColumn('Salary', regexp_extract('Salary', '(\d\d.\d\d - \d\d.\d\d)|(\d\d)', 0))
salary_per = salary_per.withColumn('Salary_1', split('Salary', '-')[1].cast(DecimalType(5,2)))
salary_per = salary_per.withColumn('Salary_0', split('Salary', '-')[0])
salary_per = salary_per.withColumn('Salary', coalesce((col('Salary_1')+col('Salary_0'))/2, lit(salary_per['Salary_0'])))
salary_per = salary_per.withColumn('Salary', col('Salary')*8*22/1000)
salary_per = salary_per.withColumn('Salary, $, K', col('Salary').cast(DecimalType(5,2)))
salary_per = salary_per.select('Job Title', 'Salary, $, K')

salary_month = salary_month.withColumn('Salary', translate('Salary', ' ', ''))
salary_month = salary_month.withColumn('Salary', regexp_extract('Salary', '\d+-\d+|\d+', 0))
salary_month = salary_month.withColumn('Salary_1', split('Salary', '-')[1].cast(DecimalType(5,2)))
salary_month = salary_month.withColumn('Salary_0', split('Salary', '-')[0])
salary_month = salary_month.withColumn('Salary, $, K', coalesce((col('Salary_1')+col('Salary_0'))/2, lit(salary_month['Salary_0'])).cast(DecimalType(5,2)))
salary_month = salary_month.select('Job Title', 'Salary, $, K')

# преобразованная таблица 'Salary'
salary = salary_month.join(salary_per, ['Job Title', 'Salary, $, K'], how='outer')

# Максимальная оплата труда - 4 вакансии 'Reliability, Availability and Serviceability Expert, Datacenter AI Products Development'($272.5 K) от компании NVIDIA
# Минимальная - Junior Data Science ($2.46 K)
salary_max = salary.orderBy('Salary, $, K', ascending=False)
salary_min = salary.orderBy('Salary, $, K', ascending=True)

#Средняя заработная плата по рынку состовляет 117.405
avg_salary = salary.agg({'Salary, $, K': 'mean'})

# Лучшие работодатели по рейтингу
rating_company = df[['Company Name', 'Company Rating']]
rating_company = df[['Company Name','Company Rating']].withColumn('Company Name', regexp_replace('Company Name', '(\n\d\.\d)', '')).sort('Company Rating', ascending=False)
pandas_rating = rating_company.toPandas().set_index('Company Name').astype(float).drop_duplicates().head(10)
pandas_rating.plot.barh()